@media screen and (max-width: 600px) {

  .card__paragraph {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 calc(21px - (600px - 100vw)/56);
  }
}

@media screen and (max-width: 320px) {

  .card__paragraph {
    padding: 0 16px;
  }
}