.baikal {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 1280px) {

  .baikal {
    padding: 0 calc(48px - (1280px - 100vw)/5.33);
  }
}

@media screen and (max-width: 1024px) {

  .baikal {
    padding: 0;
  }
}