.baikal__overlay {
  position: absolute;
  width: 100%;
  max-width: 1184px;
  height: 100%;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(42, 44, 47, .3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-decoration: none;
  margin: 0 auto;
}

.baikal__overlay:hover {
  background: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1280px) {

  .baikal__overlay {
    max-width: calc(1184px - (1280px - 100vw)/1.6);
  }
}