.intro__text {
  max-width: 690px;
  font-size: 16px;
  line-height: 1.63;
  color: #fff;
  font-weight: 400;
  margin:0 0 33px 0; /** сделал как в макете, нечетных отступов не должно быть */
}

@media screen and (max-width: 1024px) {

  .intro__text {
    max-width: calc(690px + (1024px - 100vw)/8.53);
  }
}

@media screen and (max-width: 768px) {

  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {

  .intro__text {
    margin:0 0 34px 0;
  }
}