.header__lang-links {
  list-style: none;
  padding: 0 0 6px 0; 
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 18px -webkit-min-content;
  -ms-grid-columns: min-content 18px min-content;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  gap: 18px;
}

@media screen and (max-width: 768px) {

  .header__lang-links {
    padding: 0 0 calc(6px + (768px - 100vw)/224) 0; 
  }
}

@media screen and (max-width: 320px) {

  .header__lang-links {
    padding: 0 0 8px 0; 
  }
}