.cards__website {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@media screen and (max-width: 600px) {

  .cards__website {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 calc(21px - (600px - 100vw)/56);
  }
}

@media screen and (max-width: 320px) {

  .cards__website {
    padding: 0 16px;
  }
}